<!DOCTYPE html>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mantenimiento Preventivo</h4>
                        <p class="category">Aquí se encuentra la información sobre los mantenimientos preventivos</p>
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="addRequest(modaladd)">
                                <p>Crear Solicitud</p>
                            </button>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
                        class="table table-hover table-striped row-border hover">
                                <thead>
                                    <tr>
                                        <th *ngFor="let titulo of titulos">{{ titulo }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mantenimiento of mantenimientos">
                                        <td>{{mantenimiento.actividad}}</td>
                                        <td>{{mantenimiento.id_categoria}}</td>
                                        <td>{{mantenimiento.fecha_planeada}}</td>
                                        <td *ngIf="mantenimiento.finalizado">Sí</td>
                                        <td *ngIf="!mantenimiento.finalizado">No</td>
                                        <td>
                                            <button class="btn btn-default btn-block" >
                                                Modificar
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-default btn-block" >
                                                Visualizar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modaladd>
    <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="cancel()">
            <span aria-hidden="true"> × </span>
          </button>
        <h6 class="modal-title" id="modal-title-default">
          Agregar solicitud
        </h6>
    
      </div>
    
      <div class="modal-body">
        <app-mantenimiento-preventivo-form
        [mantenimiento]="mantenimiento"
        [edit]="edit"
        [modaladd]="modalComponent"
        [proveedores]="proveedores"
        [categorias]="categorias"
        [encargados]="encargados"
        (continueparent)="create($event)"
        (cancelparent)="cancel()"
        ></app-mantenimiento-preventivo-form>
      </div>
</ng-template>

<ng-template #datatable></ng-template>
