<!DOCTYPE html>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Bitácora de mediciones</h4>
                        <p class="category">Aquí se encuentra la bitácora de limpieza</p>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="addRequest(modaladd)">
                                <p>Crear registro</p>
                            </button>
                        </div>
                    </div>
                    <!-- [START] ACCORDION -->                  
                    <accordion>
                        <accordion-group *ngFor="let bitacora of bitacoras">
                            <p><strong>Fecha: </strong>{{ bitacora.fecha }}</p>
                            <p><strong>Niveles de cloro: </strong>{{ bitacora.cloro }}</p>
                            <p><strong>Nivel de agua: </strong>{{ bitacora.porcentaje_nivel_agua }}%</p>
                            <p><strong>Nivel de gas: </strong>{{ bitacora.porcentaje_gas }}%</p>
                            <p><strong>Luz: </strong>{{ bitacora.luz }} KW/H</p>
                            <p><strong>PH: </strong>{{ bitacora.lectura }}</p>
                            <p><strong>Presión: </strong>{{ bitacora.presion }} psi</p>
                            <p><strong>Temperatura alberca jacuzzi: </strong>{{ bitacora.temperatura_alberca_jacuzzi }} °C</p>
                            <p><strong>Temperatura caldera: </strong>{{ bitacora.temperatura_caldera }} °C</p>
                            <p><strong>Responsable: </strong>{{ bitacora.responsable_name }}</p>
                            <p><strong>Auditor: </strong>{{ bitacora.auditor_name }}</p>
                            <p><strong>Observaciones: </strong>{{ bitacora.observaciones }}</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <!-- [START] UPDATE BUTTON -->
                                        <button class="btn btn-success btn-block" (click)="addRequest(modalupdate, bitacora, true)">
                                            Editar registro
                                        </button>
                                        <!-- [END] UPDATE BUTTON-->
                                    </div>
                                    <div class="col">
                                        <!-- [START] DELETE BUTTON -->
                                        <button class="btn btn-danger btn-block" (click)="addRequest(modaldelete, bitacora)">
                                            Eliminar registro
                                        </button>
                                        <!-- [END] DELETE BUTTON -->
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    <!-- [END] ACCORDION -->    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START [MODALADD]-->
<ng-template #modaladd>
    <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="cancel()">
            <span aria-hidden="true"> × </span>
          </button>
        <h6 class="modal-title" id="modal-title-default">
          Crear registro
        </h6>
      </div>
      <div class="modal-body">
        <app-bitacora-mediciones-form
        [bitacora]="bitacora"
        [user]="user"
        [modaladd]="modalComponent"
        (continueparent)="create($event)"
        (cancelparent)="cancel()"
        [auditores]="auditores"
        [responsables]="responsables"
        ></app-bitacora-mediciones-form>
      </div>
</ng-template>
<!-- END [MODALADD]-->
<!-- START [MODALUPDATE]-->
<ng-template #modalupdate>
    <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="cancel()">
            <span aria-hidden="true"> × </span>
        </button>
        <h6 class="modal-title" id="modal-title-default">
          Editar registro
        </h6>
      </div>
      <div class="modal-body">
        <app-bitacora-mediciones-form
        [bitacora]="bitacora"
        [auditores]="auditores"
        [responsables]="responsables"
        [user]="user"
        [modaladd]="modalComponent"
        (continueparent)="update($event)"
        (cancelparent)="cancel()"
        ></app-bitacora-mediciones-form>
      </div>
</ng-template>
<!-- END [MODALUPDATE]-->
<!-- START MODALDELETE-->
<ng-template #modaldelete>
    <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="cancel()">
            <span aria-hidden="true"> × </span>
        </button>
        <h6 class="modal-title" id="modal-title-update1">
            Eliminar registro
        </h6>
      </div>
    
      <div class="modal-body">
        ¿Estás seguro que deseas eliminar este registro? Esta operación es irreversible. 
        <form>
            <button class="btn btn-primary" type="submit" (click)="delete(mantenimiento)">
                Eliminar
            </button>
            <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="cancel()">
                Cancelar
            </button>
        </form>
      </div>
</ng-template>
<!-- END MODALDELETE-->