<form #updateForm="ngForm" class="modals">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="duracion_horas">Tiempo tomado<span class="text-danger">*</span></label>
                <div class="input-group">
                    <input
                        type="number"
                        class="form-control"
                        id="duracion_horas" required
                        [(ngModel)]="mantenimiento.duracion_horas"
                        name="duracion_horas"
                        #duracion_horas="ngModel"
                    >
                    <span class="input-group-addon"> horas</span>
                    </div>
            </div>
    
            <div *ngIf="duracion_horas.invalid && (duracion_horas.dirty || duracion_horas.touched)" class="alert alert-danger">
                <div *ngIf="duracion_horas.errors.required">
                    El tiempo tomado es obligatorio.
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="comentarios">Comentarios</label>
                    <textarea
                        class="form-control"
                        id="comentarios_encargado"
                        [(ngModel)]="mantenimiento.comentarios_encargado"
                        name="comentarios_encargado"
                        #comentarios_encargado="ngModel"
                    >
                    </textarea>
            </div>
    
            <div *ngIf="comentarios_encargado.invalid && (comentarios_encargado.dirty || comentarios_encargado.touched)" class="alert alert-danger">
                Los comentarios son inválidos.
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="cotizacion">¿Nueva Cotización?</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input
                        type="number"
                        class="form-control"
                        id="cotizacion" 
                        [(ngModel)]="mantenimiento.cotizacion"
                        name="cotizacion"
                        #cotizacion="ngModel"
                    >
                    </div>
            </div>
    
            <div *ngIf="cotizacion.invalid && (cotizacion.dirty || cotizacion.touched)" class="alert alert-danger">
                La cotización es inválida.
            </div>
        </div>

    </div>

  
    <button class="btn btn-primary" type="submit" [disabled] = "updateForm.invalid" (click)="continue(updateForm)">
        Guardar
    </button>
  
    <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="cancel()">
        Cancelar
    </button>
</form>