<form #createForm="ngForm" class="modals">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="concepto">Concepto <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="concepto" required [(ngModel)]="requisicion.concepto"
                    name="concepto" #concepto="ngModel" disabled={{!edit}}>
            </div>
            <div *ngIf="concepto.invalid && (concepto.dirty || concepto.touched)" class="alert alert-danger">
                <div *ngIf="concepto.errors.required">
                    El nombre de la empresa es obligatorio.
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="enlace_concepto">Enlace</label>
                <input type="text" class="form-control" id="enlace_concepto" [(ngModel)]="requisicion.enlace_concepto"
                    name="enlace_concepto" #enlace_concepto="ngModel" disabled={{!edit}} maxlength="300">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="cantidad">Cantidad <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="cantidad" [(ngModel)]="requisicion.cantidad"
                    name="cantidad" disabled={{!edit}} #estado="ngModel">
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="justificacion">Justificación</label>
            <input type="text" class="form-control" id="justificacion" [(ngModel)]="requisicion.justificacion"
                name="justificacion" #justificacion="ngModel" disabled={{!edit}} maxlength="200">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="id_hotel">Hotel </label>
            <select class="form-control" id="id_hotel" [(ngModel)]="requisicion.id_hotel" name="id_hotel"
                disabled={{!edit}} #id_hotel="ngModel">
                <option *ngFor="let hotel of hoteles" value="{{hotel.id_hotel}}">{{hotel.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="costo">Costo <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="costo" [(ngModel)]="requisicion.costo" name="costo"
                disabled={{!edit}} #costo="ngModel">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="proveedor">Proveedor </label>
            <input type="text" class="form-control" id="proveedor" [(ngModel)]="requisicion.proveedor" name="proveedor"
                #proveedor="ngModel" disabled={{!edit}} maxlength="100">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="aprobacion_auditor">Aprobación auditor</label>
            <input type="checkbox" class="form-control" id="aprobacion_auditor"
                [(ngModel)]="requisicion.aprobacion_auditor" name="aprobacion_auditor" disabled={{!edit}}
                #aprobacion_auditor="ngModel">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="aprobacion_director_gral">Aprobación Dir. General</label>
            <input type="checkbox" class="form-control" id="aprobacion_director_gral"
                [(ngModel)]="requisicion.aprobacion_director_gral" name="aprobacion_director_gral" disabled={{!edit}}
                #aprobacion_director_gral="ngModel">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="metodo_de_pago">Método de pago <span
                    class="text-danger">*</span></label>
            <select class="form-control" id="metodo_de_pago" [(ngModel)]="requisicion.metodo_de_pago"
                name="metodo_de_pago" disabled={{!edit}} #metodo_de_pago="ngModel">
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta de crédito/débito</option>
                <option value="tarjeta">Caja Chica</option>
            </select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="form-control-label" for="fecha_creacion">Fecha de Creación <span
                    class="text-danger">*</span></label>
            <input type="date" class="form-control" id="fecha_creacion" [(ngModel)]="requisicion.fecha_creacion"
                name="fecha_creacion" disabled={{!edit}} #fecha_creacion="ngModel">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="form-control-label" for="fecha_estimada">Fecha de Estimada de entrega</label>
            <input type="date" class="form-control" id="fecha_estimada" [(ngModel)]="requisicion.fecha_estimada"
                name="fecha_estimada" disabled={{!edit}} #fecha_estimada="ngModel">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="observaciones">Observaciones</label>
            <input type="text" class="form-control" id="observaciones" [(ngModel)]="requisicion.observaciones"
                name="observaciones" #observaciones="ngModel" disabled={{!edit}} maxlength="200">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="form-control-label" for="fecha_entrega">Fecha de entrega</label>
            <input type="date" class="form-control" id="fecha_entrega" [(ngModel)]="requisicion.fecha_entrega"
                name="fecha_entrega" disabled={{!edit}} #fecha_entrega="ngModel">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="form-control-label" for="finalizado">Finalizado</label>
            <input type="checkbox" class="form-control" id="finalizado" [(ngModel)]="requisicion.finalizado"
                name="finalizado" disabled={{!edit}} #finalizado="ngModel">
        </div>
    </div>
    <button *ngIf="edit" class="btn btn-primary" type="submit" [disabled]="createForm.invalid"
        (click)="continue(createForm)">
        Guardar
    </button>
    <button *ngIf="edit" class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="cancel()">
        Cancelar
    </button>
    <button *ngIf="!edit" class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="cancel()">
        Cerrar
    </button>
</form>