<form #createForm="ngForm" class="modals">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="proveedor">Categoría <span class="text-danger">*</span></label>
                <select
                    class="form-control"
                    id="categoria" required
                    [(ngModel)]="mantenimiento.id_categoria"
                    name="categoria"
                    #categoria="ngModel"
                    disabled={{!edit}}
                >
                <option *ngFor="let categoria of categorias" value="{{categoria.id_categoria}}">{{categoria.nombre}}</option>
                </select>
            </div>
        </div>
        
        <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="alert alert-danger">
            <div *ngIf="categoria.errors.required">
                La categoría es obligatoria.
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="actividad">Actividad <span class="text-danger">*</span></label>
                <input
                    type="text"
                    class="form-control"
                    id="actividad" required
                    [(ngModel)]="mantenimiento.actividad"
                    name="actividad"
                    #actividad="ngModel"
                    disabled={{!edit}}

                >
            </div>
    
            <div *ngIf="actividad.invalid && (actividad.dirty || actividad.touched)" class="alert alert-danger">
                <div *ngIf="actividad.errors.required">
                    El título de la actividad es obligatorio.
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="proveedor">Proveedor <span class="text-danger">*</span></label>
                <select
                    class="form-control"
                    id="proveedor" required
                    [(ngModel)]="mantenimiento.id_proveedor"
                    name="proveedor"
                    #proveedor="ngModel"
                    disabled={{!edit}}
                >
                <option *ngFor="let proveedor of proveedores" value="{{proveedor.id_proveedor}}">{{proveedor.nombre_empresa}}</option>
                </select>
            </div>
        </div>

        <div *ngIf="proveedor.invalid && (proveedor.dirty || proveedor.touched)" class="alert alert-danger">
            <div *ngIf="proveedor.errors.required">
                El proveedor es obligatorio.
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="proveedor">Encargado <span class="text-danger">*</span></label>
                <select
                    class="form-control"
                    id="encargado" required
                    [(ngModel)]="mantenimiento.id_empleado"
                    name="encargado"
                    #encargado="ngModel"
                    disabled={{!edit}}
                >
                <option *ngFor="let empleado of empleados" value="{{empleado.id}}">
                    {{empleado.first_name }} {{empleado.last_name}}
                </option>
                </select>
            </div>
        </div>

        <div *ngIf="encargado.invalid && (encargado.dirty || encargado.touched)" class="alert alert-danger">
            <div *ngIf="encargado.errors.required">
                El encargado es obligatorio.
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="cotizacion">Cotización <span class="text-danger">*</span></label>
                <input
                    type="number"
                    class="form-control"
                    id="cotizacion" required
                    [(ngModel)]="mantenimiento.cotizacion"
                    name="cotizacion"
                    #cotizacion="ngModel"
                    disabled={{!edit}}
                >
            </div>
    
            <div *ngIf="cotizacion.invalid && (cotizacion.dirty || cotizacion.touched)" class="alert alert-danger">
                <div *ngIf="cotizacion.errors.required">
                    La cotización es obligatoria.
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="frecuencia_anual">Frecuencia Anual <span class="text-danger">*</span></label>
                <input
                    type="number"
                    class="form-control"
                    id="frecuencia_anual" required
                    [(ngModel)]="mantenimiento.frecuencia_anual"
                    name="frecuencia_anual"
                    #frecuencia_anual="ngModel"
                    disabled={{!edit}}
                >
            </div>
    
            <div *ngIf="frecuencia_anual.invalid && (frecuencia_anual.dirty || frecuencia_anual.touched)" class="alert alert-danger">
                <div *ngIf="frecuencia_anual.errors.required">
                    La frecuencia anual es obligatoria.
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="fecha_inicio">Fecha Inicio <span class="text-danger">*</span></label>
                <input
                    type="date"
                    class="form-control"
                    id="fecha_inicio" required
                    [(ngModel)]="mantenimiento.fecha_inicio"
                    name="fecha_inicio"
                    #fecha_inicio="ngModel"
                    disabled={{!edit}}
                >
            </div>
    
            <div *ngIf="fecha_inicio.invalid && (fecha_inicio.dirty || fecha_inicio.touched)" class="alert alert-danger">
                <div *ngIf="fecha_inicio.errors.required">
                    La fecha inicial es obligatoria.
                </div>
            </div>
        </div>
        <div>
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-update1">
                    Auditoría
                </h6>
            </div>
            <br>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label" for="id_auditor">Auditor <span class="text-danger">*</span></label>
                    <input
                        type="text"
                        class="form-control"
                        id="id_auditor" required
                        [(ngModel)]="auditor"
                        name="id_auditor"
                        #id_auditor="ngModel"
                        disabled
                    >
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label" for="aprobar">Aprobar <span class="text-danger">*</span></label>
                    <input
                        type="checkbox"
                        class="form-control"
                        id="aprobar" required
                        [(ngModel)]="auditor"
                        name="aprobar"
                        #aprobar="ngModel"
                    >
                </div>
            </div>
        </div>

    </div>
  
    <button *ngIf="edit" class="btn btn-primary" type="submit" [disabled] = "createForm.invalid" (click)="continue(createForm)">
        Guardar
    </button>
  
    <button *ngIf="edit" class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="cancel()">
        Cancelar
    </button>

    <button *ngIf="!edit" class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="cancel()">
        Cerrar
    </button>
</form>
