<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Presupuesto anual - {{nextYear}}</h4>
                        <p class="category">Desde aquí se pueden obtener los datos necesarios para tomar decisiones a partir del presupuesto.</p>
                    </div>
                    <accordion>
                        <accordion-group *ngFor="let mes of actividad_meses" heading="{{mes.titulo}} - ${{mes.total}} mxn - {{mes.eventos.events.length}} actividades" >   <!-- CONCATENAR NUMERO DE SEMANA A HEADING -->
                          <div class="content table-responsive table-full-width" *ngIf="mes.eventos.events.length > 0">
                              <table class="table table-hover table-striped row-border hover">
                                  <thead>
                                      <tr>
                                          <th>Categoría</th>
                                          <th>Actividad</th>
                                          <th>Proveedor</th>
                                          <th>Costos individuales</th>
                                          <th>Acciones</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let event of mes.eventos.events">
                                          <td>{{event.nombre_categoria}}</td>
                                          <td>{{event.actividad}}</td>
                                          <td>{{event.nombre_proveedor}}</td>
                                          <td>${{event.cotizacion}} mxn</td>
                                          
                                          <td>
                                            <button class="btn-modificar  btn-block" (click)="addRequest(modalupdate, event)">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </button>
                                        </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                        <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped row-border hover">
                            <thead>
                                <tr>
                                    <th>Total de costos de {{mes.titulo}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>${{mes.total}} mxn</td>
                                </tr>
                            </tbody>
                      </table>
                      </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped row-border hover">
                        <thead>
                            <tr>
                                <th>Total de costos del {{nextYear}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>$ {{totalAnual}} mxn</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
  
<ng-template #modalupdate>
    <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="cancel()">
            <span aria-hidden="true"> × </span>
        </button>
        <h6 class="modal-title" id="modal-title-update1">
            Cambiar mes
        </h6>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" class="modals">
            <div class="row">        
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label" for="meses">Mes</label>
                        <ngx-select [multiple]="false"
                            [items]="items"
                            [(ngModel)]="ngxValue"
                            [autoClearSearch]="false"
                            placeholder="Presiona para seleccionar el mes"
                            name="meses"
                            dropDownMenuOtherClasses="dropdown-menu-right"
                            autoActiveOnMouseEnter
                            >
                        </ngx-select>
                    </div>
                </div>
            </div>
          
            <button  class="btn btn-primary" type="submit" [disabled] = "updateForm.invalid" (click)="update(updateForm)">
                Guardar
            </button>
          
            <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="cancel()">
                Cancelar
            </button>

        </form>
        
      </div>
</ng-template>