.navbar-brand
{
    margin-top: 14px;
    font-size: 24px;
}
.ng-star-inserted
{
    margin-top: 8px;

}
.close
{
    border-radius: 4px;
    background-color: #000000FF !important;
    color: #F8F8F8;
    margin-top: 15px;
    text-shadow: none;
    padding: 10px 15px 10px;
    filter: alpha(opacity=100);
    opacity: 1.0;
    transition: .8;
    margin-top: 21px;
    margin-right: 9px;
}
.close:hover
{
    opacity: .2;
}

.Usuario
{
    font-size: 20px;
}