<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
        

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>
                        <p *ngIf="user"> {{ user?.first_name + ' ' + user?.last_name + ' ' + '|'+ ' ' + user?.rol}}</p>
                    </a>
                </li>
                <li>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="logOut()">
                        <span aria-hidden="true">Cerrar Sesión</span>
                    </button>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
