
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://pugseal.com/" class="simple-text">
            <div class="logo-pugseal-text">
                <img src="/assets/img/logos/logo-text.png"/>
            </div>
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li *ngIf="isMobileMenu()" >
            <a (click)="logOut()">
                <p>Log out</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
